/*importar tipografias*/
@font-face {
  font-family: "fuente_estandar";
  src: url("../fuentes/SourceSans3-VariableFont_wght.ttf");
}

@font-face {
  font-family: "fuente_estandar_italica";
  src: url("../fuentes/SourceSans3-Italic-VariableFont_wght.ttf");
}

/*establecer tipografía general*/
html {
    font-family: "fuente_estandar", sans-serif;
}

/*reglas generales del cuerpo de pagina*/
body {
  /*Hacer que la cabecera no tenga bordes y ocupe todo su espacio*/
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto bloquea el desplazamiento horizontal de la cabecera */
  overflow-y: hidden; /*idem en vertical*/
}

/* Estilo para el texto del placeholder */
input::placeholder {
  font-style: italic; /* Coloca el texto del placeholder en cursiva */
  color: #888; /* Opcional: Cambiar el color del texto placeholder */
}

/* Aplicar la fuente personalizada a los botones */
button, input[type="button"], input[type="submit"] {
  font-family: "fuente_estandar", sans-serif;
  font-size: 16px; /* Ajusta este tamaño si lo necesitas */
  font-weight: normal; /* Puedes cambiar el grosor de la fuente si lo deseas */
}


