/*establece el fondo de pantalla en el cuerpo de la pagina*/
.cuerpo-pagina {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  background-position: center center;
  background-size: 100% auto;
  background-image: url("../img/SVG/background-subtle-prism.svg");
}

/* --------------------------- titulo y subtitulo----------------------------------------- */

/*dispone las medidas para el titulo y subtitulo del cuerpo de la pagina*/
.titulo-cuerpo {
  padding: 30px 45px;
  position: relative;
  text-align: center;
}

/*reglas y medidas del titulo*/
.titulo-cuerpo-titulo {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #33333b;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  max-width: 1100px;
}

/*reglas y medidas del subtitulo*/
.titulo-cuerpo-subtitulo {
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: #47474f;
  max-width: 980px;
  margin: auto auto 28px;
}

/*---------------------------- Caja de herramientas ----------------------------------------*/

/*Apartado donde se contendra la caja de herramientas*/
.herramientas {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 68px 42px;
}

/*contenedor donde se disponen en cuadricula las herramientas de la pagina*/
.herramientas-contenedor {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

/*"tarjeta" en la que se accedera a la herramienta*/
.herramientas-elemento {
  background: #fff;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: calc(
    16.495% - 4px
  ); /*aqui se calcula el ancho necesario para que quepa en el contenedor*/
  flex-basis: calc(
    16.495% - 4px
  ); /*aqui se calcula el ancho necesario para que quepa en el contenedor*/
  border: 1px solid #f5f5fa;
  margin: 2px;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.4s ease-out,
    -webkit-box-shadow 0.4s ease-out;
  transition: background-color 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out, background-color 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, background-color 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, background-color 0.4s ease-out,
    -webkit-box-shadow 0.4s ease-out;
  z-index: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

/*reglas del interior de la tarjeta; contenido, icono, titulo y descripcion*/

.herramientas-elemento a {
  display: block;
  padding: 32px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  font-weight: 400;
}

.herramientas-elemento-icono {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.herramientas-elemento h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #33333b;
  margin-bottom: 8px;
  margin-top: 0;
}

.herramientas-elemento-descripcion p {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 13px;
  color: #707078;
}

/*Hover a la hora de pasar el raton por la tarjeta*/
.herramientas-elemento:hover {
  z-index: 999;
  background: #f5f5fa;
}

.herramientas-elemento:hover h3 {
  color: #161616;
}

.herramientas-elemento:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.herramientas-elemento:hover p {
  color: #47474f;
}

/* --------------------------- APARTADO REPONSIVO ----------------------------------------- */
/* --------------------------- titulo y subtitulo responsivo----------------------------------------- */

/*los estilos dentro de esa consulta de medios se
aplicarán solo cuando el ancho del dispositivo
(o la ventana del navegador) sea de 90em o menos.*/
@media (max-width: 90em) {
  .titulo-cuerpo {
    padding: 24px;
  }
}

@media (max-width: 90em) {
  .titulo-cuerpo-subtitulo {
    margin-bottom: 12px;
  }
}
/*-------------------------*/

/*margenes del texto que contiene el titulo*/
@media (min-width: 380px) and (max-width: 767px) {
  .titulo-cuerpo {
    padding: 10px 35px;
  }
}

@media (max-width: 767px) {
  .titulo-cuerpo-titulo {
    font-size: 24px;
    line-height: 34px;
  }

  .titulo-cuerpo-subtitulo {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 380px) {
  .titulo-cuerpo {
    padding: 5px 35px;
  }

  .titulo-cuerpo-subtitulo {
    font-size: 15px;
    line-height: 20px;
  }
}

/*---------------------------- Caja de herramientas responsiva --------------------------------------*/

@media (max-width: 1300px) {
  .herramientas-elemento {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(19.822% - 4px);
    flex-basis: calc(19.822% - 4px);
  }
}

@media (max-width: 1280px) {
  .herramientas-elemento {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(24.75% - 4px);
    flex-basis: calc(24.75% - 4px);
  }
}

@media (max-width: 991.98px) {
  .herramientas-elemento h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .herramientas-elemento-descripcion p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 960px) {
  .herramientas-elemento {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(32.995% - 4px);
    flex-basis: calc(32.995% - 4px);
  }
}

@media (max-width: 960px) {
  .herramientas {
    padding: 0 24px 24px;
  }
}

@media (max-width: 640px) {
  .herramientas-elemento-icono {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767.98px) {
  .herramientas-elemento h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .herramientas-elemento-descripcion p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 640px) {
  .herramientas-elemento {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(49.4% - 4px);
    flex-basis: calc(49.4% - 4px);
  }

  .herramientas-elemento a {
    padding: 24px;
  }

  .herramientas-elemento-icono {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
  }
}

@media (max-width: 440px) {
  .herramientas-elemento {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% - 4px);
    flex-basis: calc(100% - 4px);
  }

  .herramientas-elemento a {
    padding: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }

  .herramientas-elemento a .herramientas-elemento-icono {
    margin-right: 12px;
  }

  .herramientas-elemento a .herramientas-elemento-descripcion {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
