/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a25151;
}

/* CABECERA */
.estilo-cabecera {
  background: #fff;
  width: 100%;
  height: 60px;
  z-index: 1041;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.3);
  padding: 0 24px;
}

/*logo de la pagina*/
.logo {
  max-width: 200px; /* Ancho máximo del logo */
  margin-left: 8px; /* Margen a la izquierda del logo */
  display: inline-block; /* Mostrar la imagen como un bloque en línea */
  position: absolute; /* Posiciona la imagen de forma absoluta en relación con el header */
  top: 50%; /* Mueve la imagen al centro del header verticalmente */
  transform: translateY(-50%); /* Ajusta la posición para que el centro de la imagen coincida con el centro del header */
}

.logo svg {
  width: 100%; /* La imagen ocupará el 100% del ancho disponible */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}
/*-----------------------------*/

/*parte herramientas*/
.menu-herramientas {
  display: inline-block; /* Mostrar el menú como un bloque en línea */
  margin-left: 5px; /* Margen a la izquierda del menú */
  position: relative; /* Posiciona el menú de forma relativa al logo */
  top: 50%; /* Mueve el menú al centro del header verticalmente */
  transform: translateY(-50%); /* Ajusta la posición para que el centro del menú coincida con el centro del header */
}


.herramientas {
  display: flex;
  align-items: center;
  margin-left: 500px; /* Margen a la izquierda de "Herramientas" */
}

.herramientas p {
  margin-right: 10px; /* Ajusta este valor según tus necesidades */
}

.herramientas .flecha {
  margin-right: 10px; /* Ajusta este valor según tus necesidades */
}
/*-----------------------------*/

/* Estilos para la navegación */
.navegacion {
  display: flex;
  align-items: center;
}

/* Estilos para el contenido principal */
.main {
  padding: 20px;
}

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}




